/* Reset + Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  background: #f8f9fd;
  color: #333;
}

.search-box .input-group-text {
  border-right: none;
  background: #fff;
  border-radius: 8px 0 0 8px;
}

.search-box input {
  border-left: none;
  border-radius: 0 8px 8px 0;
  box-shadow: none !important;
}

.search-box .bx-search {
  font-size: 18px;
  color: #555;
}

/* Profile icon styling */
#profileMenu {
  border: none;
  background: transparent;
}

#profileMenu .bx-user-circle {
  color: #0f1e36;
  transition: 0.3s;
}

#profileMenu:hover .bx-user-circle {
  color: #1a2d4f;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #0f1e36;
  height: 100vh;
  transition: width 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 10px;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar .toggle-btn {
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.sidebar .logo {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  transition: opacity 0.3s;
}

.sidebar.collapsed .logo {
  opacity: 0;
  pointer-events: none;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar ul li a.highlight {
  background-color: #019a34;
  color: white;
  border-radius: 6px;
  /* box-shadow: 0 0 15px rgba(13, 110, 253, 0.7); */
  font-weight: 600;
}

.sidebar ul li a.button {
  background-color: #012f9a;
  color: white;
  border-radius: 6px;
  /* box-shadow: 0 0 15px rgba(13, 110, 253, 0.7); */
  font-weight: 600;
}


.sidebar ul li a:hover {
  background: #1a2d4f;
}

.sidebar .link-text {
  transition: opacity 0.3s;
}

.sidebar.collapsed .link-text {
  opacity: 0;
  pointer-events: none;
}

/* Main */
.main {
  margin-left: 220px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s;
}

.sidebar.collapsed ~ .main {
  margin-left: 80px;
}

.card {
  border-radius: 12px;
}

.users-table th {
  background: #0f1e36;
  color: white;
}

.sidebar a:hover {
  color: #ffffff; /* or some dark color */
}




/*LOGIN*/

.login-card {
  width: 100%;
  max-width: 380px;
  border-radius: 20px;
  background: #fff;
}

.input-group-text {
  background: #0f1e36;
  color: #fff;
  border: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0f1e36;
}

.btn-success {
  background-color: #0f1e36;
  border: none;
  border-radius: 10px;
}

.btn-success:hover {
  background-color: #0f1e36;
}

.toggle-password {
  cursor: pointer;
}
